(
    axes: {
        "run": Emulated(pos: Key(Right), neg: Key(Left)),
    },
    actions: {
        "jump": [
            [Key(Up)]
        ],
        "shoot": [
            [Key(Space)],
            [Key(A)],
            [Mouse(Left)],
        ]
    },
)
